h1 {
  padding: 0 1rem;
}

mat-toolbar{
  position:fixed;
  top:0;
  z-index: 2;
}

mat-sidenav-container {
  height:100%;
}

/* Move the content down so that it won't be hidden by the toolbar */
mat-sidenav {
  padding-top: 3.5rem;
  transition: width 0.3s ease;
  @media screen and (min-width: 600px) {
    padding-top: 4rem;
  }

  .entry{
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.5rem;
  }
}

/* Move the content down so that it won't be hidden by the toolbar */
mat-sidenav-content{
  padding-top: 3.5rem;
  padding-left: 20px;
  padding-right: 20px;
  @media screen and (min-width: 600px) {
    padding-top: 4rem;
  }
}

.expanded {
  width: 150px;
}
